{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de subastas</title>
  <link rel="stylesheet" type="text/css" href="{% static 'auctions/styles.css' %}">
</head>
<body>
  <header>
    <h1>Subastas Web</h1>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Listado</a></li>
        <li><a href="{% url 'create' %}">Crear subasta</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <h2>Nuestras subastas</h2>
    <div>
      {% if auction_list %}
          {% for auction in auction_list %}
        <div class="item-details">
        <img src="{{auction.thumbnail}}" alt="Thumbnail">
        <div class="info">
        <h2>{{auction.title}}</h2>
        <p>{{auction.description}}<p>
        <p><strong>Precio:</strong><span>{{auction.price}}</span>€</p>
        <p><strong>Stock:</strong><span>{{auction.stock}}</span></p>
        <p><a href="{% url 'detail' auction.id %}" class="btn">Ver subasta</a></p>
        <p><a href="{% url 'edit' auction.id %}" class="btn">Editar subasta</a></p>
        <p><a href="{% url 'delete' auction.id %}" class="btn" onclick="return confirm('¿Seguro que quieres eliminar esta subasta?');">Eliminar subasta</a></p>
        </div>
      </div>
          {% endfor %}
      {% else %}
      <p>No hay subastas disponibles.</p>
      {% endif %}	
    </div>
  </div>

  <footer>
    <p>&copy; 2025 DAS</p>
  </footer>

</body>
</html>
